<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section01">
  <div class="section01__btnarea">
    <div class="btnwrap js-videomodal_openbtn">
      <div class="btn01">
        <div class="btn01__txt" data-id="video01">日本語</div>
      </div>
    </div>
    <div class="btnwrap">
      <div class="btn01">
        <div class="btn01__txt" data-id="video02">英語</div>
      </div>
    </div>
  </div>
</div>
