<!-- ************************************************************
//
//  videomodal
//
// ************************************************************ -->
<div class="videomodal js-videomodal">
  <div class="videomodal__bg"></div>
  <div class="videomodal__contents">
    <div class="videomodal__close">
      <div class="svgwrap js-videomodal_close">
        <div class="svgwrap js-videomodal_close_in">
          <%-include('../../../../dist/assets/resource/svg/close.svg')%>
        </div>
      </div>
    </div>
    <div class="videomodal__videoarea">
      <div class="videomodal__cover js-videomodal_cover"></div>
      <video playsinline controls class="js-video_switch"></video>
    </div>
  </div>
</div>
