<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="wrap">
  <ul class="accordion js-accordion">
    <% for (let i = 0; i < 3; i++) { %>
    <li class="accordion__item js-accordion_item">
      <div class="accordion__content">
        <div class="accordion__question js-accordion_question">
          <div class="accordion__question-inner">
            <div class="accordion__question-txtbox">
              <p class="accordion__question-txt">
                空間でどのような体験ができますか？
              </p>
            </div>
          </div>
          <div class="accordion__icon js-accordion_icon">
            <span class="accordion__icon-bar js-accordion_iconbar"></span>
            <span class="accordion__icon-bar js-accordion_iconbar"></span>
          </div>
        </div>
        <div class="accordion__answer js-accordion_answer">
          <div class="accordion__answer-inner">
            <div class="accordion__answer-txtbox">
              <p class="accordion__answer-txt">
                お手持ちのパソコンやスマートフォン、VRデバイスでご利用できます。<br />
                推奨環境は下記のとおりです。
              </p>
              <p class="accordion__answer-txt">
                動作環境内であっても、ご利用端末の仕様や通信環境によって正常に動作しない場合がございます。​
                あらかじめご了承ください。​
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <% } %>
  </ul>
</div>
