<!-- ************************************************************
//
//  videomodal
//
// ************************************************************ -->
<div class="videomodal js-videomodal">
  <div class="videomodal__bg"></div>
  <div class="videomodal__contents">
    <div class="videomodal__close">
      <div class="svgwrap js-videomodal_close">
        <div class="svgwrap js-videomodal_close_in">
          <%-include('../../../../dist/assets/resource/svg/close.svg')%>
        </div>
      </div>
    </div>
    <div class="videomodal__videoarea">
      <div class="videomodal__cover js-videomodal_cover"></div>
      <video
        playsinline
        controls
        data-srcpc="<%- PATH %>assets/resource/video/220301_CITIZENL_ONLINE_JP_pc.mp4"
        data-srcsp="<%- PATH %>assets/resource/video/220301_CITIZENL_ONLINE_JP_sp.mp4"
      ></video>
    </div>
  </div>
</div>
