<!-- ************************************************************
//
//  videomodal
//
// ************************************************************ -->
<div class="videomodal js-videomodal">
  <div class="videomodal__bg js-videomodal_bg"></div>
  <div class="videomodal__contents">
    <div class="videomodal__close">
      <div class="svgwrap js-videomodal_close">
        <div class="svgwrap js-videomodal_close_in">
          <%-include('../../../../dist/assets/resource/svg/close.svg')%>
        </div>
      </div>
    </div>
    <div class="videomodal__videoarea js-video" data-videoid="M7lc1UVf-VE">
      <div class="videomodal__cover js-videomodal_cover"></div>
      <!-- <iframe
        id="player"
        type="text/html"
        src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
        frameborder="0"
      ></iframe> -->
      <div class="player" id="player"></div>
    </div>
  </div>
</div>
