@charset "utf-8";
/* --------------------------------------------------------------------------------
*
*   section01
*
-------------------------------------------------------------------------------- */

.form__item-inputedarea {
  flex-grow: 1;
  padding: 18px 0px 18px 18px;
  z-index: 1;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #003c0e;
    height: 1px;
    width: 100%;
    opacity: 0.3;
  }

  @include media-max("sp") {
    width: 100%;
    margin-top: 8px;
    padding: 0px 0px 15px 0px;
  }

  &.-contents {
    padding: 18px 0px 44px 18px;

    @include media-max("sp") {
      padding: 18px 0px 44px 0px;
    }
  }
}

.form__item-inputedarea-txt {
  font-size: 18px;
  font-weight: 500;
  line-height: (30/18);
  color: #000;

  @include media-max("sp") {
    font-size: 14px;
  }
}
