<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="section01">
  <div class="section01__btnarea">
    <div class="btnwrap js-videomodal_openbtn">
      <div class="btn01">
        <div
          class="btn01__txt"
          data-srcpc="<%- PATH %>assets/resource/video/220301_CITIZENL_ONLINE_JP_pc.mp4"
          data-srcsp="<%- PATH %>assets/resource/video/220301_CITIZENL_ONLINE_JP_sp.mp4"
        >
          日本語
        </div>
      </div>
    </div>
    <div class="btnwrap">
      <div class="btn01">
        <div
          class="btn01__txt"
          data-srcpc="<%- PATH %>assets/resource/video/220301_CITIZENL_ONLINE_ENG_pc.mp4"
          data-srcsp="<%- PATH %>assets/resource/video/220301_CITIZENL_ONLINE_ENG_sp.mp4"
        >
          英語
        </div>
      </div>
    </div>
  </div>
</div>
