@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   section01
*
-------------------------------------------------------------------------------- */
.wrap {
  padding: 100px;
  color: #fff;
}

.box {
  &:nth-child(n + 2) {
    margin-top: 50px;
  }
}

.title {
  font-size: 24px;
}

.list {
  margin-left: 20px;
  margin-top: 10px;

  &__item {
    &:nth-child(n + 2) {
      margin-top: 10px;
    }
  }
}

.item {
  &:nth-child(n + 2) {
    margin-top: 5px;
  }

  a {
    font-size: 1.8rem;
    text-decoration: underline;
  }
}

.category {
  font-size: 22px;
}

.subcategory {
  font-size: 20px;
}
