@charset "utf-8";
/* --------------------------------------------------------------------------------
*
*   section01
*
-------------------------------------------------------------------------------- */

.section01__donetxtarea {
  margin-top: 50px;
}

.section01__donetxt {
  text-align: center;
  font-size: 16px;
}
