<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="wrap">
  <div class="message">Please scroll.</div>
  <ul class="list">
    <% for (let i = 0; i < 15; i++) { %>
    <li class="list__item js-coveranimation_item">
      <img src="./assets/resource/img/<%= i + 1 %>.jpg" alt="" />
      <div class="list__item-cover1"></div>
      <div class="list__item-cover2"></div>
    </li>
    <% }%>
  </ul>
</div>
