<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="wrap">
  <!-- <h2 class="title js-anim_title">Hello, World</h2>
  <h2 class="title js-anim_title">こんにちは</h2>
  <h2 class="title js-anim_title">こ ん に ち は</h2>
  <h2 class="title js-anim_title">渋谷公園<br />miyashita <br />park</h2> -->

  <div class="section02__txtarea">
    <div class="section02__txtwrap">
      <p class="section02__txt js-show_item js-split">
        多くの女性たちが、<br />
        誰かに気づかれなくても、<br />
        “日々の頑張り”を積み重ねている。<br />
        そしてそれは、確実に自分自身の、<br />
        そして、誰かの毎日をつくっている。
      </p>
    </div>
    <div class="section02__txtwrap">
      <p class="section02__txt js-show_item js-split">
        その積み重ねは、確かに見えにくいかもしれない。<br />
        事実、7割近くの女性たちには、<br />
        身近な人からの感謝や労いという<br />
        「エールの言葉」が届いていない。
      </p>
    </div>
    <div class="section02__txtwrap">
      <p class="section02__txt js-show_item js-split">
        でもそんな、かけがえのない“日々の頑張り”に、<br />
        今よりもっと、気づいていたら。<br />
        今よりもっと、感謝の気持ちが伝わっていたら。<br />
        今よりもっと、労いの言葉が届いていたら。
      </p>
    </div>
    <div class="section02__txtwrap">
      <p class="section02__txt js-show_item js-split">
        今よりもっと、ココロを満たせるかもしれない。<br />
        今よりもっと、前向きに過ごしてもらえるかもしれない。<br />
        今よりもっと、負担を軽くするきっかけを<br />
        作れるかもしれない。
      </p>
    </div>
    <div class="section02__txtwrap">
      <p class="section02__txt js-show_item js-split">
        R-1は、そんな想いから、<br />
        日々頑張る女性たちとスポンサー契約を結ぶ<br />
        ”Sponsoring Our Heroes.” projectを始めます。
      </p>
    </div>
    <div class="section02__txtwrap">
      <p class="section02__txt js-show_item js-split">
        日々を頑張るヒーローたちに、<br />
        体調管理というエールを贈りたい。
      </p>
    </div>
  </div>
</div>
