/* --------------------------------------------------------------------------------
*   menubtn
-------------------------------------------------------------------------------- */

.menubtnwrap {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 101;
}

.menubtn {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  // overflow: hidden;
  cursor: pointer;
  position: relative;
  transform: translate3d(0, 0, 0);
}

.menubtn__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
}

.menubtn__bar {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000;
}

.menubtn__inner.open {
  .menubtn__bar + .menubtn__bar {
    margin-top: 7px;
  }
}

.menubtn__inner.close {
  position: absolute;
  left: 0;
  top: 0;

  .menubtn__bar-wrap {
    &:nth-child(1),
    &:nth-child(3) {
      .menubtn__bar {
        transform: scaleX(0);
      }
    }
  }

  .menubtn__bar-wrap + .menubtn__bar-wrap {
    margin-top: 4px;
  }
}

/* --------------------------------------------------------------------------------
*   drawer
-------------------------------------------------------------------------------- */

.drawer {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;
  z-index: 100;
  padding-top: 90px;
  padding-bottom: 70px;

  pointer-events: none;
}

.drawer__bg {
  background-color: #f7f6c5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  // 演出
  transform: translate3d(40px, 0, -1px);
  opacity: 0;
}

.drawer__inner {
  padding-left: 30px;
  padding-right: 30px;
}

.drawer__menubtn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 15px;
  z-index: 101;
}

.drawer__nav {
  margin-top: 50px;
}

.nav__item {
  overflow: hidden;

  a {
    display: block;
    display: flex;
    align-items: center;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    transform: translateY(100%);
  }
}

.nav__item-txt {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-left: 7px;
}
