@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   section01
*
-------------------------------------------------------------------------------- */
.wrap {
  padding: 50px;

  @include max(768) {
    padding: 30px;
  }
}

.title {
  font-size: 4rem;
  font-weight: bold;

  &:nth-child(n + 2) {
    margin-top: 20px;
  }
}
