<!-- ************************************************************
//  section01
// ************************************************************ -->

<div class="section01">
  <div class="section01__inner">
    <!-- title -->
    <div class="section01__titlewrap">
      <p class="section01__title">お問い合わせフォーム</p>
    </div>

    <div class="section01__donetxtarea">
      <div class="section01__donetxt">
        ご応募ありがとうございます。<br />
        担当者より返信させていただきます。<br />
        しばしお待ちください。
      </div>
    </div>

    <!-- btnarea -->
    <div class="form__btnarea">
      <div class="form__btnwrap is-active">
        <a href="/" class="btn01">
          <div class="btn01__txt">TOPに戻る</div>
        </a>
      </div>
    </div>
  </div>
</div>
