@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   section01
*
-------------------------------------------------------------------------------- */

.wrap {
  padding: 50px;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 100vh;
  padding-bottom: 80vh;
}

.section02__txtarea {
  margin-top: 30px;

  @include media-max("sp") {
    margin-left: 2.5px;
    margin-top: 22px;
  }
}

.section02__title {
  color: #fff;
  font-size: 44px;
  line-height: 1;
  letter-spacing: 0.01em;

  @include media-max("sp") {
    font-size: 32.5px;
    line-height: (100/65);
    letter-spacing: 0.04em;
  }
}

.section02__txtwrap {
  &:nth-child(n + 2) {
    margin-top: 40px;

    @include media-max("sp") {
      margin-top: 25px;
    }
  }
}

.section02__txt {
  color: #fff;
  font-size: 18px;
  // letter-spacing: 0.15em;
  line-height: (40/18);
  letter-spacing: -0.02em;

  @include media-max("sp") {
    font-size: 15.5px;
    line-height: (72/31);
    letter-spacing: -0.1em;
  }

  span {
    letter-spacing: 0.1em;

    @include media-max("sp") {
      letter-spacing: -0.03em;
    }
  }
}

/* --------------------------------------------------------------------------------
*   演出
-------------------------------------------------------------------------------- */
.js-show_item {
  opacity: 0;
  transform: translateY(20px);
}
