<!-- ************************************************************
//  section01
// ************************************************************ -->
<div class="wrap">
  <div class="message">Please scroll.</div>
  <% for (let i = 0; i < 10; i++) { %>
  <div class="section section01">
    <div class="imgs">
      <div class="img-item">
        <img class="js-bounce_item" src="./assets/resource/img/img01.png" />
      </div>
    </div>
  </div>
  <% }%>
</div>
