<!-- ************************************************************
//  section01
// ************************************************************ -->

<!-- prettier-ignore -->
<%  
  const step = [
    {
      txt: "入力"
    },
    {
      txt: "確認"
    },
    {
      txt: "完了"
    },
  ]
%>

<div class="section section01 js-sub_item_op">
  <div class="section01__inner">
    <div class="section01__form">
      <form action="">
        <div class="section01__box">
          <!-- left -->
          <div class="section01__left">
            <div class="section01__title">FORM</div>
          </div>

          <!-- right -->
          <div class="section01__right">
            <!-- step -->
            <div class="contactstep">
              <div class="contactstep__list">
                <% for (let i = 0; i < step.length; i++) { if(i == 1) {%>
                  <div class="contactstep__item is-active pulse">
                <% } else { %>
                  <div class="contactstep__item">
                <% } %>     
                  <span class="contactstep__item-txt"><%= step[i].txt %></span>
                  <span class="contactstep__item-bg"></span>
                </div>
                <% } %>
              </div>
              <div class="contactstep__txt">
                下記の内容でお間違えないかご確認ください。
              </div>
            </div>

            <!-- list -->
            <ul class="form__list">
              <li class="form__item">
                <p class="form__item-title">氏名*</p>
                <div class="form__item-inputed">
                  山田 太郎
                </div>
              </li>
              <li class="form__item">
                <p class="form__item-title">フリガナ*</p>
                <div class="form__item-inputed">
                  ヤマダ タロウ
                </div>
              </li>
              <li class="form__item">
                <p class="form__item-title">会社名*</p>
                <div class="form__item-inputed">
                  株式会社○○○○○
                </div>
              </li>
              <li class="form__item">
                <p class="form__item-title">役職*</p>
                <div class="form__item-inputed">
                  代表取締役
                </div>
              </li>
              <li class="form__item">
                <p class="form__item-title">メールアドレス*</p>
                <div class="form__item-inputed">
                  sample@gmail.com
                </div>
              </li>
              <li class="form__item">
                <p class="form__item-title">電話番号*</p>
                <div class="form__item-inputed">
                  00000000
                </div>
              </li>
              <li class="form__item">
                <p class="form__item-title">お問い合わせ内容*</p>
                <div class="form__item-inputed">
                  お問い合わせ内容はいります。お問い合わせ内容はいります。お問い合わせ内容はいります。お問い合わせ内容はいります。お問い合わせ内容はいります。お問い合わせ内容はいります。お問い合わせ内容はいります。お問い合わせ内容はいります。お問い合わせ内容はいります。お問い合わせ内容はいります。お問い合わせ内容はいります。お問い合わせ内容はいります。お問い合わせ内容はいります。お問い合わせ内容はいります。
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- btnarea -->
        <div class="form__btnarea">
          <div class="form__btnwrap js-btn01 is-active">
            <a href="" class="btn01">
              <input type="submit">
              <div class="btn01__inner">
                <div class="btn01__txtwrap js-btn01_txtwrap">
                  <div class="btn01__txtarea">
                    <span class="btn01__txt js-btn01_txt">送信する</span>
                  </div>
                  <div class="btn01__txtarea">
                    <span class="btn01__txt js-btn01_txt">送信する</span>
                  </div>
                </div>
              </div>
              <span class="btn01__bg js-btn01_bg"></span>
            </a>
            <span class="btn01__bar01 js-btn01_bar01"></span>
            <span class="btn01__bar02 js-btn01_bar02"></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
