<!-- ************************************************************
//  section01
// ************************************************************ -->
<!-- <div class="section section01">
  <p>section01</p>
  <div class="btn js-gopoint_btn">ボタン</div>
</div>

<div class="section section02 js-gopoint_target">section02</div> -->
