<!-- ************************************************************
//  section01
// ************************************************************ -->
<% const items = ["01_vh", "02_goTop", "03_goPoint", "04_scrollShow"]; %>

<div class="wrap">
  <div class="title">function</div>
  <ul class="list">
    <% for (let i = 0; i < items.length; i++) { %>
    <li class="item">
      <a
        href="https://eri-zu.github.io/jsModule/function/<%= items[i] %>/dist"
        target="_blank"
        rel="noopener noreferrer"
        ><%= items[i] %>
      </a>
    </li>
    <% } %>
  </ul>
</div>
