@charset "utf-8";

.section {
  height: 100vh;
}

.section01 {
  background-color: red;
}
.section02 {
  background-color: blue;
}
.section03 {
  background-color: green;
}
.section04 {
  background-color: yellow;
}
.section05 {
  background-color: red;
}
