<!-- ************************************************************
//  section01
// ************************************************************ -->

<div class="wrap">
  <% for (let i = 0; i < 3; i++) {%>
  <div class="btnarea section0<% i + 1 %>__btnarea">
    <a href="#" class="btn01 js-btn01">
      <span class="btn01__txt js-btn01_txt">もっと見る</span>
      <span class="btn01__line js-btn01_line"></span>
    </a>
  </div>
  <%}%>
</div>
